<!-- Site List Header -->
<header class="black-80 tc pv4 avenir">
  <a href="" class="bg-black-80 ba b--black dib pa3 w2 h2 br-100">
    <svg class="white" data-icon="skull" viewBox="0 0 32 32" style="fill:currentcolor">
      <title>skull icon</title>
      <path d="M16 0 C6 0 2 4 2 14 L2 22 L6 24 L6 30 L26 30 L26 24 L30 22 L30 14 C30 4 26 0 16 0 M9 12 A4.5 4.5 0 0 1 9 21 A4.5 4.5 0 0 1 9 12 M23 12 A4.5 4.5 0 0 1 23 21 A4.5 4.5 0 0 1 23 12"></path>
    </svg>
  </a>
  <h1 class="mt2 mb0 baskerville i fw1 f1">Obi Knows' Sites</h1>
  <h2 class="mt2 mb0 f6 fw4 ttu tracked">The amazing sites that make up the Obi Knows Co Ecosystem</h2>
  
</header>

<!-- Sites LIST -->
<main class="mw6 center">
  <!-- Films -->
  <article>
    <a class="link dt w-100 bb b--black-10 pb2 mt2 dim blue" href="https://films.obiknows.co">
      <div class="dtc w3">
        <img src="http://mrmrs.github.io/images/0010.jpg" class="db w-100" />
      </div>
      <div class="dtc v-top pl2">
        <h1 class="f6 f5-ns fw6 lh-title black mv0">Films</h1>
        <h2 class="f6 fw4 mt2 mb0 black-60">eye catching content</h2>
        <dl class="mt2 f6">
          <dd class="ml0">https://films.obiknows.co</dd>
        </dl>
      </div>
    </a>
  </article>
  <!-- Code -->
  <article>
    <a class="link dt w-100 bb b--black-10 pb2 mt2 dim blue" href="#0">
      <div class="dtc w3">
        <img src="http://mrmrs.github.io/images/0002.jpg" class="db w-100" />
      </div>
      <div class="dtc v-top pl2">
        <h1 class="f6 f5-ns fw6 lh-title black mv0">Code</h1>
        <h2 class="f6 fw4 mt2 mb0 black-60">Obi Knows Code</h2>
        <dl class="mt2 f6">
          <dd class="ml0">https://code.obiknows.co</dd>
        </dl>
      </div>
    </a>
  </article>
  <!-- Design -->
  <article>
    <a class="link dt w-100 bb b--black-10 pb2 mt2 dim blue" href="#0">
      <div class="dtc w3">
        <img src="http://mrmrs.github.io/images/0004.jpg" class="db w-100" />
      </div>
      <div class="dtc v-top pl2">
        <h1 class="f6 f5-ns fw6 lh-title black mv0">Craft</h1>
        <h2 class="f6 fw4 mt2 mb0 black-60">All Things Design and Creation</h2>
        <dl class="mt2 f6">
          <dd class="ml0">https://craft.obiknows.co</dd>
        </dl>
      </div>
    </a>
  </article>
  <!--  -->
  <article>
    <a class="link dt w-100 bb b--black-10 pb2 mt2 dim blue" href="#0">
      <div class="dtc w3">
        <img src="http://mrmrs.github.io/images/0006.jpg" class="db w-100" />
      </div>
      <div class="dtc v-top pl2">
        <h1 class="f6 f5-ns fw6 lh-title black mv0">Fotoplakate: Von den Anfängen</h1>
        <h2 class="f6 fw4 mt2 mb0 black-60">Josef Müller-Brockmann</h2>
        <dl class="mt2 f6">
          <dt class="clip">Price</dt>
          <dd class="ml0">$15.00</dd>
        </dl>
      </div>
    </a>
  </article>
  <article>
    <a class="link dt w-100 bb b--black-10 pb2 mt2 dim blue" href="#0">
      <div class="dtc w3">
        <img src="http://mrmrs.github.io/images/0030.jpg" class="db w-100" />
      </div>
      <div class="dtc v-top pl2">
        <h1 class="f6 f5-ns fw6 lh-title black mv0">The Graphic Artist</h1>
        <h2 class="f6 fw4 mt2 mb0 black-60">Josef Müller-Brockmann</h2>
        <dl class="mt2 f6">
          <dt class="clip">Price</dt>
          <dd class="ml0">$15.00</dd>
        </dl>
      </div>
    </a>
  </article>
  <article class="mt2">
    <a class="link dt w-100 bb b--black-10 dim blue" href="#0">
      <div class="dtc w3">
        <img src="http://mrmrs.github.io/images/0010.jpg" class="db w-100" />
      </div>
      <div class="dtc v-top pl2">
        <h1 class="f6 f5-ns fw6 lh-title black mv0">A History of Visual Communication (Geschichte der visuellen Kommunikation)</h1>
        <h2 class="f6 fw4 mt2 mb0 black-60">Josef Müller-Brockmann</h2>
        <dl class="mt2 f6">
          <dt class="clip">Price</dt>
          <dd class="ml0">$15.00</dd>
        </dl>
      </div>
    </a>
  </article>
</main>