<nav class="pa3 pa4-ns">
  <a class="link dim black b f6 f5-ns dib mr3" href="#" title="Home">O Knows Films</a>
  <a class="link dim gray    f6 f5-ns dib mr3" href="#" title="Home">Home</a>
  <a class="link dim gray    f6 f5-ns dib mr3" href="#" title="About">List</a>
  <a class="link dim gray    f6 f5-ns dib mr3" href="#" title="Store">Store</a>
  <a class="link dim gray    f6 f5-ns dib" href="#" title="Contact">Contact</a>
</nav>


<article class="pa3 pa5-ns">
  <article class="mw5 mw6-ns center pt3">
    <div class="aspect-ratio aspect-ratio--8x5 mb4">
      <div class="center aspect-ratio--object cover" style="">

<iframe class="tc center" width="560" height="315" src="https://www.youtube.com/embed/bCAfqtQVWGs" frameborder="0" allow="autoplay; encrypted-media"
  allowfullscreen></iframe>

      </div>
    </div>
  </article>
</article>