<div class="container">
  <div class="row bg-red">
    <p>
      see my films sites. or recommend a film.
    </p>
    <p>
      theres gonna be 2 CTA buttons, one to go to https://films.obiknows.co, and maybe a form for film submissions
    </p>
    <!-- <article class="pa3 pa5-ns">
      <article class="mw5 mw6-ns center pt3">
        <div class="aspect-ratio aspect-ratio--8x5 mb4">
          <div class="center aspect-ratio--object cover" style="">
          </div>
        </div>
      </article>
    </article> -->
  </div>
</div>
