<article class="helvetica pb5">
  <header class="vh-25 bg-light-pink dt w-100">
    <div style="background:url(http://mrmrs.github.io/photos/display.jpg) no-repeat center right;background-size: cover;" class="dtc v-mid cover ph3 ph4-m ph5-l">
      <h1 class="f2 f-subheadline-l measure lh-title fw9">Obi Knows Code</h1>
      <h2 class=" dn f6 fw6 black">A website by Obinna</h2>
    </div>
  </header>
  <div class="serif ph3 ph4-m ph5-l">
    
    <p class=" tc lh-copy f5 f3-m f1-l measure center">
      Commit Calendar
    </p>
    <p class=" dn tc ">
      by Github
    </p>
    <%= partial("code/commits.html") %>
  </div>
  

</article>