<section class="bg-green white">

<!-- Crypto Nav -->
<nav class="pa3 pa4-ns">
  <div class="link dark-green black b f1 f-headline-ns tc db mb2 mb2-ns" href="#" title="Home">Obi Knows Crypto</div>
  <div class="center tc pa3 bg-gray white" style="width:fit-content;">
    <a class="link dim white f6 f5-ns dib mr3" href="#" title="Home">Charts</a>
    <a class="link dim white f6 f5-ns dib mr3" href="#" title="About">Picks</a>
    <a class="link dim white f6 f5-ns dib mr3" href="#" title="Store">Bots / Services</a>
    <a class="link dim white f6 f5-ns dib" href="#" title="Contact">Contact</a>
  </div>
</nav>
<!-- /Crypto Nav -->

<!--  -->
<main class="cf pa3 pa4-m pa5-l mw9 center">
  <div class="fr w-100 w-80-l">
    <h1 class="f2 f1-l lh-title mt0 mb4 mb5-ns">
      Today,
      <br class="dn db-ns">in Crypto News
    </h1>
  </div>
  <div class="f6 lh-copy fl w-100 mb4">
    <div class="fl-ns w-100 w-20-l pr3-m pr5-l">
      <p>
        BTC
        <small class="green fw6">up 69%</small>
      </p>
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
        See other Trending Markets
      </p>
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
        ETH is trash now
        <br class="dn db-l"> ... or is it?
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
        WTF is Zcash?
      </p>
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
        Exploring Eco-Friendly Mining
      </p>
    </div>
  </div>
  <img src="http://mrmrs.github.io/photos/u/007.jpg" class="db" alt="iceland" />
</main>
<!--  -->

</section>