@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";

@import "tachyons.min.css";

html {
  background: #333333;
}

.app-content {
  padding-bottom: 2.5vh;
  margin-bottom: 12.5vh;
}

.colorbar-logo {
  height: 2.081em;
  // height: 3.639em;
  
}

.colorbar-bg {
  background-color: #333333;
  // max-height: 11vh;
}

.content {
  margin-bottom: 12.5vh;
}

.cv-link {
  width: fit-content;
}