@import "~bootstrap/scss/bootstrap.scss";
// @import "~font-awesome/css/font-awesome.css";  // big AF ~800kB

// Add in Baloo 
@import url('https://fonts.googleapis.com/css?family=Baloo');
// Add in Didact Gothic
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

// Tachyons 
@import "./tachyons.min.css";
 
/*
  FONTS
*/
.baloo {
  font-family: 'Baloo', cursive;
}

.didact {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 600;
}

body {
  // background: #333333;
  background: white;
  // background: whitesmoke;
}

.app {
  // height: fit-content;
  // margin-bottom: 12.5vh;
}

.home {
  margin-bottom: 12.5vh;
}

.colorbar {
  background-color: #333333;
  // height: 10vh;
  min-height: 50px;
  // max-height: 10vh;
}

.colorbar-logo {
  height: 1.5081em;
  // height: 2.081em;
  // height: 3.639em;
  
}

.content {
  margin-bottom: 12.5vh;
}

.cv-link {
  width: fit-content;
}