<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark colorbar-bg">
  <a class="navbar-brand" href="/">
    <!-- Obi Knows Co -->
    <!-- obi knows svg -->
    <img class="colorbar-logo" src="<%= rootPath() %>assets/images/obi bar dark.svg" alt="Obi Knows Co">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/work">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/beats">Beats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Store</a>
      </li>
      <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
      <li class="dropup">
        <a class="nav-link dropdown-toggle" href="" id="dropup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">More</a>
        <div class="dropdown-menu" aria-labelledby="dropup">
          <a class="dropdown-item" href="#">Food</a>
          <a class="dropdown-item" href="#">Art</a>
          <a class="dropdown-item" href="/research">Research</a>
          <a class="dropdown-item" href="#">Sign In</a>
        </div>
      </li>
    </ul>
  </div>
</nav>