<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark colorbar">
  <a class="navbar-brand" href="/">
    <!-- Obi Knows Co -->
    <!-- obi knows svg -->
    <img class="colorbar-logo" src="<%= rootPath() %>assets/images/obi bar icon.svg" alt="Obi Knows Co">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" href="/">Home
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/work">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/beats">Beats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/code">Code</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/herbs">Herbs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/research">Research</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/kobo">Kobo</a>
      </li>
      <li class="dropup">
        <a class="nav-link dropdown-toggle" href="" id="dropup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">More</a>
        <div class="dropdown-menu" aria-labelledby="dropup">
          <a class="dn dropdown-item" href="/art">Art</a>
          <a class="dropdown-item" href="/store">Store</a>
          <a class="dn dropdown-item" href="/crypto">Crypto</a>
          <a class="dropdown-item" href="/sebi">Sebi</a>
          <a class="dropdown-item" href="/films">Films</a>
          <a class="dn disabled dropdown-item" href="/auth">Sign In</a>
          <a class="dropdown-item" href="/contact">Contact</a>
          <a class="dn dropdown-item" href="http://obi.obiknows.co">Obi</a>
          <a class="dropdown-item" href="/about">About</a>
        </div>
      </li>
    </ul>
    <!-- <form class="form-inline">
      <button class="bg-gold btn " type="button">play</button>
    </form> -->
    <div class="form-inline">
      <button class="link bg-gold btn" type="button"><a class="dib black no-underline" href="https://store.obiknows.co">store</a></button>
    </div>
  </div>
</nav>