<section class="about">
<header class="tc pv2 pv3-ns">
  <!-- <img src="http://tachyons.io/img/logo.jpg" class="br3 ba b--black-10 h3 w3" alt="avatar"> -->
  <img src="http://static.tumblr.com/33e1ceca6d42d756d3ba6da96646239b/yc0pozh/4Ybomknwc/tumblr_static_vnsh93qnc0g8s04g0gok4wkc.gif"
    class="br3 b--black-10 h3 w3" alt="avatar" width="" height="">
  <h1 class="f5 f4-ns fw6 black-70">Obi Knows</h1>
  <h2 class="f6 black-70 fw2 ttu tracked bold">Ala Igbo </h2>
</header>
<footer class="pv4 ph3 ph5-m ph6-l mid-gray">
  <small class="f6 db tc">© 2018 to Infinity
    <b class="ttu">Obi Knows Nothing Inc</b>., All Rights Reserved</small>
  <div class="tc mt3">
    <a href="/language/" title="Language" class="f6 dib ph2 link mid-gray dim">Language</a>
    <a href="/terms/" title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
    <a href="/privacy/" title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
  </div>
</footer>

<style>
  .about {
      height: fit-content;
      background: linear-gradient(white, #f5f5f5);
  }
</style>
</section>