<section class="about">
  <!-- HEADER -->
<header class="tc pv2 pv3-ns">
  <!-- <img src="http://tachyons.io/img/logo.jpg" class="br3 ba b--black-10 h3 w3" alt="avatar"> -->
  <img src="http://static.tumblr.com/33e1ceca6d42d756d3ba6da96646239b/yc0pozh/4Ybomknwc/tumblr_static_vnsh93qnc0g8s04g0gok4wkc.gif"
    class="br3 b--black-10 h3 w3" alt="avatar" width="" height="">
  <h1 class="f5 f4-ns fw6 black-70">Obi Knows Co.</h1>
  <h2 class="dn f6 black-70 fw2 ttu tracked bold mb4">Ala Igbo </h2>
  <h6 class="pa3 f2 lh-copy">Obi Knows Co is a research and development firm dedicated to expanding and applying knowledge for the benefit of humanity</h6>

</header>


<!-- Obi Knows, site descrition -->
<!-- <div class="row">
  <div class="vh-25 col-8 bg-gold ">
    <h4>Obi Knows Co is a research and development firm dedicated to expanding and applying knowledge for the benefit of humanity</h4>
  </div>
  <div class="vh-25 col tc">
    <img src="<%= assetPath(" images/kingobi-vector.svg ") %>" alt="" srcset="">
  </div>
</div> -->

<!-- Updates & Activity Feed (TODO: move to /code/activity) -->
<!-- <div class="row">
  <main role="main" class="">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
      <img class="mr-3" src="https://getbootstrap.com/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
      <div class="lh-100">
        <h6 class="mb-0 text-white lh-100">Company Updates</h6>
        <small>Since 2018</small>
      </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
      <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
      <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;"
          src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163eddf9a2a%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163eddf9a2a%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212.296875%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@username</strong>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
          ut fermentum massa justo sit amet risus.
        </p>
      </div>
      <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=e83e8c&amp;fg=e83e8c&amp;size=1" alt="32x32" class="mr-2 rounded" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163eddf9a33%20text%20%7B%20fill%3A%23e83e8c%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163eddf9a33%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23e83e8c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212.296875%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true" style="width: 32px; height: 32px;">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@username</strong>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
          ut fermentum massa justo sit amet risus.
        </p>
      </div>
      <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=6f42c1&amp;fg=6f42c1&amp;size=1" alt="32x32" class="mr-2 rounded" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163eddf9a37%20text%20%7B%20fill%3A%236f42c1%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163eddf9a37%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%236f42c1%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212.296875%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true" style="width: 32px; height: 32px;">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@username</strong>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
          ut fermentum massa justo sit amet risus.
        </p>
      </div>
      <small class="d-block text-right mt-3">
        <a href="#">All updates</a>
      </small>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
      <h6 class="border-bottom border-gray pb-2 mb-0">Activity</h6>
      <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163eddf9a3a%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163eddf9a3a%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212.296875%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true" style="width: 32px; height: 32px;">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark">Full Name</strong>
            <a href="#">Follow</a>
          </div>
          <span class="d-block">@username</span>
        </div>
      </div>
      <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163eddf9a3e%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163eddf9a3e%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212.296875%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true" style="width: 32px; height: 32px;">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark">Full Name</strong>
            <a href="#">Follow</a>
          </div>
          <span class="d-block">@username</span>
        </div>
      </div>
      <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163eddf9a52%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163eddf9a52%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212.296875%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true" style="width: 32px; height: 32px;">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark">Full Name</strong>
            <a href="#">Follow</a>
          </div>
          <span class="d-block">@username</span>
        </div>
      </div>
      <small class="d-block text-right mt-3">
        <a href="#">All suggestions</a>
      </small>
    </div>
  </main>
</div> -->

<!-- MAIN/ MIDDLE -->
<main class="w-100 cf helvetica dark-gray bg-white pa3 pa4-m pa5-l mw9 center">
  <div class="fl w-50 pr2 pr3-l mb3 mb4-l">
    <div class="cover pv5 pv6-m pv7-l" style="background:black url(http://mrmrs.github.io/photos/v/022.jpg) center;"></div>
  </div>
  <div class="fl w-50 w-25-l pl2 pr2-m ph2-l mb3 mb4-l">
    <div class="cover pv5 pv6-m pv7-l" style="background:black url(http://mrmrs.github.io/photos/v/024.jpg) center;"> </div>
  </div>
  <div class="fl w-50 w-50 w-25-l pr2 pr0-l pl3-l mb3 mb4-l">
    <div class="cover pv5 pv6-m pv7-l" style="background:black url(http://mrmrs.github.io/photos/050.jpg) left;"> </div>
  </div>
  <div class="fl w-50 w-50 w-25-l pl2 pl0-l pr2-m pr4-l mb3 mb4-l">
    <div class="cover pv5 pv6-m pv7-l" style="background:black url(http://mrmrs.github.io/photos/049.jpg) center;"> </div>
  </div>

  <div class="fl w-100 w-50-l pr2-l pl2-ns mb4 mb0-l mb4 outline tc">
    <div class="pa4">
      <img src="<%= assetPath("images/obiknowsco_full.png") %>" alt="Obi Knows Co. Risk It All" srcset="">
      <!-- <h1 class="f4 f2-l fw7 mt0 pv3-l bb-l bb--black">#004</h1>
      <p class="lh-copy mt2 mt3-m mt5-l f6">
        <span class="db-ns f6 fw7 lh-solid mb3 mb0-m mb4-l">Mies, my great mentor said:</span>
        <span class="fw9 f6 f1-l db lh-title mb3 mb4-l">“God is in the details.”</span>
        <span class="db-l measure-wide">
          That is the essence of syntax: the discipline that controls the proper use of grammar in the construction of phrases and
          the articulation of a language, Design. The syntax of design is provided by many components in the nature of the
          project.
        </span>
      </p> -->
    </div>
  </div>

  <div class="cf">
    <div class="fl w-100 w-25-l pl3-l mb3 mb4-l">
      <div class="cover pv5 pv6-m pv7-l" style="background:black url(http://mrmrs.github.io/photos/051.jpg) center;"> </div>
    </div>
    <div class="fl w-100 w-25-l pr3-l">
      
      <p class="lh-copy measure f6 pt3 pt0-l mt0 mb3 mb4-l center">
        <span class="fw6">To us Information is power.</span> There are other types of graphic design more concerned
        with illustration or of a narrative nature. Nothing could be more useful to reach our intention than the Grid. The
        grid represents the basic structure of our graphic design, it helps to organize the content, it provides consistency,
        it gives an orderly look and it projects a level of intellectual elegance that we like to express. There are in nite
        kinds of grids, but just one - the most appropriate - for any problem. Therefore, it becomes important to know which
        kind of grid is the most appropriate. The basic understanding is that the smaller the module of the grid the least
        helpful it could be. We could say that an empty page is a page with an in nitesimal small grid. Therefore, it is
        equivalent to not being there. Conversely a page with a coarse grid is a very restricting grid offering too few alternatives.
        The secret is to nd the proper kind of grid for the job at hand. Sometimes, in designing a grid we want to have the
        outside margins small enough to provide a certain tension between the edges of the page and the content. After that
        we divide the page in a certain number of columns according to the content, three, two, four, ve, six, etc. Columns
        provide only one kind of consistency, but we also need to have an horizontal frame of reference to assure certain
        levels of continuity throughout the publication. Therefore, we will divide the page from top to bottom in a certain
        number of Modules, four, six, eight, or more, according to size and need. Once we have structured the page, we will
        begin to structure the information and place it in the grid in such a way that the clarity of the message will be
        enhanced by the placement of the text on the grid. There are in nite ways of doing this and that is why the grid
        is a useful tool, rather than a constricting device.
      </p>
    </div>

    <div class="fl w-100 w-75-l pv0 mv0">
      <div class="fl w-100 mb2 mb4-l">
        <div class="cover pv5 pv6-l" style="background:black url(http://mrmrs.github.io/photos/u/001.jpg) center;"> </div>
      </div>
      <div class="fl w-25 mb2 mb4-l">
        <div class="cover pv5 pv6-m pv7-l" style="background:black url(http://mrmrs.github.io/photos/u/002.jpg) center;"> </div>
      </div>
      <div class="fl w-75 pl2 pl4-l mb2 mb4-l">
        <div class="cover pv5 pv6-m pv7-l" style="background:black url(http://mrmrs.github.io/photos/u/003.jpg) center;"> </div>
      </div>
      <div class="fl w-100 mb2 mb4-l">
        <div class="cover pv5 pv6-ns" style="background:black url(http://mrmrs.github.io/photos/u/004.jpg) center;"> </div>
      </div>
    </div>
  </div>
</main>

<!-- FOOTER -->
<footer class="pv4 ph3 ph5-m ph6-l mid-gray">
  <small class="f6 db tc">© 2018 to Infinity
    <b class="ttu">Obi Knows Nothing Inc</b>., All Rights Reserved</small>
  <div class="tc mt3">
    <a href="/language/" title="Language" class="f6 dib ph2 link mid-gray dim">Language</a>
    <a href="/terms/" title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
    <a href="/privacy/" title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
  </div>
</footer>

<style>
  .about {
      height: fit-content;
      background: linear-gradient(white, #f5f5f5);
  }
</style>
</section>