<div class="container">
  <!-- Example Jumbotron -->
  <div class="jumbotron mt-3">
    <h1>Inertia EP</h1>
    <p class="lead">Yo, I just put out the Inertia tape. Peep game</p>
    <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">Click to peep game&raquo; 👀</a>
  </div>
  <!-- /example -->
<style>
  .grid-wrapper {
    display: grid;
    grid-gap: 10px;
        grid-template-columns: auto auto auto auto;
        background-color: #fff;
        color: #444;
    }

    .box {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;

    }

    .a {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    .b {
        grid-column: 3 ;
        grid-row: 1 / 3;
    }
    .c {
        grid-column: 1 ;
        grid-row: 2 ;
    }
    .d {
        grid-column: 2;
        grid-row: 2;
    }
    .e {
      grid-column: 4 ;
      grid-row: 1 / 3;
    }
</style>
  <div class="grid-wrapper">
    <div class="box a">A</div>
    <div class="box b">B</div>
    <div class="box c">C</div>
    <div class="box d">D</div>
    <div class="box e">E</div>
  </div>
</div>
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <!-- Obi Knows Co -->
    <!-- obi knows svg -->
    <img class="colorbar" src="<%= rootPath() %>assets/images/obi bar dark.svg" alt="Obi Knows Co">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Beats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
      <li class="nav-item dropup">
        <a class="nav-link dropdown-toggle" href="/" id="dropdown10" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">More</a>
        <div class="dropdown-menu" aria-labelledby="dropdown10">
          <a class="dropdown-item" href="#">Food</a>
          <a class="dropdown-item" href="#">Art</a>
          <a class="dropdown-item" href="#">Research</a>
          <a class="dropdown-item" href="#">Sign In</a>
        </div>
      </li>
    </ul>
  </div>
</nav>